In [ ]:
'''Q1. What is a database? Differentiate between SQL and NoSQL databases.'''

'''Database is a storing application which stores our desired outputs.

there are two types of database 

1. SQL - in SQL database , the output is stored in Tabular form .

2. NOSQL - in NOSQL database , the output is stored as dictionaries and 
           that is referred as documents .'''

In [ ]:
'''Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.'''

'''DDL is data define language , it is used to define objects in database such as tables ,etc.
it is used create ,modify , delete tables in a database'''

'''-- 1.CREATE_
CREATE DATABASE if  not exists creating_databse ;

CREATE TABLE if not exists creating_databse.students(name VARCHAR(30) , class INT);

CREATE TABLE if not exists creating_databse.employe(age INT , academic_qualification VARCHAR(45));

-- 2.DROP-
DROP TABLE if exists creating_databse.employe;

-- 3. ALTER-

ALTER TABLE  creating_databse.students

ADD fav_subject VARCHAR(44);

-- 4. TRUNCATE-

TRUNCATE TABLE creating_databse.students; '''

In [ ]:
'''Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.'''

'''DML stands for data manipulation language which is a another subset of sql .
it allows us to play with data like inserting , updating and deleting. '''

'''-- 1.INSERT
INSERT INTO creating_databse.students values('sahil' , 12 , 'maths');

-- 2.UPDATE
UPDATE creating_databse.students 

SET fav_subject = 'english'
WHERE   name  = 'sahil' ;

-- 3. DELETE
DELETE from creating_databse.students
WHERE name ='sahil';'''

In [ ]:
'''Q4. What is DQL? Explain SELECT with an example.

CREATE DATABASE dbase ;

CREATE TABLE if not exists dbase.tbl (name VARCHAR(23) , class VARCHAR(23) , section VARCHAR(23)) ;

insert into dbase.tbl values('sahil' , '9th' , 'B')  ;

insert into dbase.tbl values('aman' , '8th' , 'C');
insert into dbase.tbl values('dev' , '11th' , 'B');
insert into dbase.tbl values('shalini' , '10th' , 'A');

SELECT name, class

FROM dbase.tbl'''

In [ ]:
'''Q5. Explain Primary Key and Foreign Key.'''

'''primary key - it is the first column of the table 

foreign key - it is the other columns of table'''

In [4]:
''' Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb= mysql.connector.connect(
    host ='localhost',
    user = 'abc',
    password = 'password'

)

mycursor= mydb.cursor()

mycursor.execute("CREATE DATABaSE if not exists dbase1")

cursor() help us to create a cursor object to interact with database  
execute() help us to execute sql based operations like creating table,
 databses ,etc. '''

' Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\n\nimport mysql.connector\n\nmydb= mysql.connector.connect(\n    host =\'localhost\',\n    user = \'abc\',\n    password = \'password\'\n\n)\n\nmycursor= mydb.cursor()\n\nmycursor.execute("CREATE DATABaSE if not exists dbase1")\n\ncursor() help us to create a cursor object to interact with database  \nexecute() help us to execute sql based operations like creating table,\n databses ,etc. '

In [ ]:
'''Q7. Give the order of execution of SQL clauses in an SQL query.'''

'''firstly SELECT id used to specify the column from which i am retireving data.
then we use FROM clause to specify the table .
then we use WHERE clause to apply  conditions or filter our desired result.'''